@media all and (min-width: 50em){
    body{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background: white;
        font-family: 'Poppins', sans-serif !important;
    }
    
    header{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    header img{
        height: auto;
        width: 13%;
        object-fit: contain;
        margin-left: 24px;
    }
    
    header div{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 33px;
    }
    
    header div a{
        color: #000073;
        text-decoration: none;
        font-size: 1.1vw;
    }
    
    .main_section{
        display: flex;
        flex-direction: row;
        width: 90%;
        position: relative;
        left: 8%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .main_section img{
        width: 45%;
        height: auto;;
    }
    
    .main_text{
        font-size: 3vw;
        color: #000073;
        margin: 0;
    }
    
    .main_sub_text{
        font-size: 1.3vw;
        color: #76758B;
        margin: 0;
    }
    
    .main_button{
        display: flex;
        width: 70%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 2vw;
    }

    .button{     
        border: none;
        width: 45%;
        border-radius: 8px;
        padding: 0 1% 0 1%;
        background: #961F9C;
        color: white;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .button p{
        font-size: 1vw;
    }

    .button_p{
        color: #000073;
        font-size: 1.1vw;
    }

    .button img{
        width: 4%;
    }

    .featured{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 5%;
        top: 2vw;
    }

    .featured h2{
        color: rgb(176, 176, 189);
        font-size: 1.5vw;
        font-weight: 400;
    
    }

    .featured_logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 82%;
    }

    .featured_logos img{
        width: 15%;
        height: auto;
    }

    #forbes{
        width: 11%;
    }

    .strategy{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 8vw;
        left: 8%;
    }

    .strategy h2{
        font-size: 1.7vw;
        font-weight: 700;
        color: #000073;
    }

    .strategy img{
        width: 25%;
        height: auto;
    }

    .strategy_card{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .strategy_card h3{
        font-size: 1.6vw;
        color: #000073;
        margin-bottom: 8px;
        line-height: 1.5;
    }

    .strategy_card p{
        font-size: 1vw;
        color: #76758B;
        margin-top: 2px;
    }

    .roadmap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 15vw;
    }

    .roadmap h2{
        color: #000073;
        font-size: 1.5vw;
    }

    .roadmap img{
        width: 70%;
    }

    .roadmap_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        position: relative;
    }

    .div1{
        position: relative;
        left: 6.5vw;
        width: 20%;
    }

    .div1 h3{
        font-size: 1.3vw;
        color: #000073;
    }

    ul{
        font-size: 1vw;
        list-style: none;
    }

    ul li::before {
        content: "\2022";
        color: #000073;
        font-weight: bold; 
        display: inline-block;
        width: 1em;    
        font-size: 1.1vw;
        margin-left: -1em;
    }

    li{
        color: #76758B;
    }

    .div2{
        position: relative;
        right: 14.7vw;
        width: 20%;
    }

    .div2 h3{
        font-size: 1.3vw;
        color: #000073;
    }

    .tokenomics{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 18vw;
        background: url('./Solarstarz_/Images/Desktop\ Background.png');
        background-position: center;
        background-size: cover;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .tokenomics h2{
        color: #D62CDF;
        font: 1.2vw;
    }

    .tokenomic_main{
        display: flex;
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .main_image{
        width: 24%;
        height: auto;
        position: relative;
        top: 3vw;
        left: 6vw;
    }

    .tokenomic_main_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .tokenomic_main_text .text{
        width: 80%;
    }

    .text h3{
        color: white;
        font-size: 1.4vw;
    }

    .text p{
        color: #76758B;
        font-size: 1.1vw;
    }

    .text p span{
        font-weight: bold;
        color: #C0BFCA;
    }

    .images1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        position: relative;
        right: 27px;
    }

    .images1 p {
        color: #76758B;
        font-size: 1vw;
    }

    .images2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        position: relative;
        right: 27px;
    }

    .images2 p{
        color: #76758B;
        font-size: 1vw;
    }

    .images_card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        position: relative;
        right: 1.5vw;
    }

    .images_card img{
        width: 30%;
        height: auto;
    }

    .images_card1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 37%;
    }

    .images_card1 img{
        width: 30%;
    }

    .images_card2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 37%;
        position: relative;
        right: 5vw;
    }

    .images_card2 img{
        width: 30%;
    }

    .images_card3{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 37%;
    }

    .images_card3 img{
        width: 30%;
    }

    .token_distribution{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 7vw;
    }

    .token_distribution_head{
        color: white !important;
        font-size: 1.5vw;
    }

    .token_distribution_text{
        text-align: center;
        color: #76758B;
        font-size: 1.2vw;
    }

    .piechart{
        height: auto;
        width: 35%;
        position: relative;
        top: 7vw;
    }

    .center{
        background: #010029;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 7.2vw 0 7.2vw 0;
        position: relative;
        border-radius: 50%;
        bottom: 20vw;
    }

    .center h3{
        color: white;
        font-size: 2vw;
        font-weight: bold;
        margin: 0;
    }

    .center p{
        color: #76758B;
        font-size: 1.5vw;
        margin: 0;
    }


}
